@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron"></div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Ingredient Inventory</h2>
        <p>Keep track off all the ingredients you buy for your fridge and pantry!</p>
    </div>
    <div class="col-md-4">
        <h2>Recipes Are Suggested For You</h2>
        <p>Chef Jeeves's enhanced AI determines recipes you can make based off your current inventory!</p>
    </div>
    <div class="col-md-4">
        <h2>Help Grow Our Community</h2>
        <p>Our database is expanding with new recipes being continously added!</p>
    </div>
</div>