@model ChefJeeves.Models.InventoryModel
@{
    ViewBag.Title = "Inventory";
}

<div class="row">
    <div>
        <div id="ingLeft">
            <h2>My ingredients</h2>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                    $("#userIngInInv tr td button").click(function () {
                        $(this).parent().parent().remove();
                    });

                    var numItems = 1;
                    $("button#addIng").click(function () {
                        $("#divIng" + $('#counter').get(0).value++).after('<div id="divIng' + $('#counter').get(0).value + '" class="item">Ingredients: <input type="text" name="ingredients' + $('#counter').get(0).value + '"></div>');
                        numItems = $('#divIngList div.item').length;
                    });

                    var numItems = $('.item').length;
                    $("button#addToInv").click(function () {
                        for (i = 0; i < numItems; i++) {
                            $("#userIngInInv tr:last").after("<tr><td>" + $("#divIng" + i + " input").val() + "</td><td><button>-</button></td></tr>");
                        }
                        $("#divIngList").html('<div id="divIng0" class="item">Ingredients: <input type="text" name="ingredients"></div>');

                    });
                });
            </script>
            <table id="userIngInInv">
                @foreach (var item in )
                {
                <tr>
                    <td>butter</td>
                    <td><button>-</button></td>
                </tr>
                <tr>
                    <td>egg</td>
                    <td><button>-</button></td>
                </tr>
                <tr>
                    <td>garlic</td>
                    <td><button>-</button></td>
                </tr>
                <tr>
                    <td>milk</td>
                    <td><button>-</button></td>
                </tr>
                <tr>
                    <td>olive oil</td>
                    <td><button>-</button></td>
                </tr>
                <tr>
                    <td>pepper</td>
                    <td><button>-</button></td>
                </tr>
                <tr>
                    <td>salt</td>
                    <td><button>-</button></td>
                </tr>
            </table>           
        </div>
        <div id="ingRight">
            <h2>Add ingredients<button id="addIng">+</button></h2>
            <div id="divIngList">
                <div id="divIng0" class="item">
                    Ingredients: <input type="text" name="ingredients">
                </div>
            </div>

            <button id="addToInv">Add to inventory</button>
            <input type="hidden" id="counter" value="0">

        </div>

            
        </div>
    
</div>