@{
    ViewBag.Title = "Inventory";
}

<div class="row">
    <div>
        <div id="ingLeft">
            <h2>My ingredients</h2>
        </div>
        <div id="ingRight">
            <h2>Add ingredients</h2><button id="addIng">+</button>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                    $("button#addIng").click(function () {
                        $("#divIng" + $('#counter').get(0).value++).after('<div id="divIng' + $('#counter').get(0).value + '">Ingredients: <input type="text" name="ingredients' + $('#counter').get(0).value + '"></div>');

                    });
                });
            </script>

            <div id="divIng0">
                Ingredients: <input type="text" name="ingredients">
            </div>

            <button id="addToInv">Add to inventory</button>
            <input type="hidden" id="counter" value="0">

        </div>

            
        </div>
    
</div>