@{
    ViewBag.Title = "Recipe";
}

<div class="row">
    <div>
        <div id="recipeLeft">
            <img src="../Images/scrambled_eggs.jpg" />
        </div>
        <div id="recipeRight">
            <div><h2>Scrambled Eggs</h2></div>
            <div><h3>Preparation method</h3></div>
            <table id="recipeTable">
                <tbody>
                    <tr>
                        <td>4</td>
                        <td itemprop="ingredients">EGGS</td>
                    </tr>
                    <tr>
                        <td>1/4 cup</td>
                        <td itemprop="ingredients">milk</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td itemprop="ingredients">salt and pepper, as desired</td>
                    </tr>
                    <tr>
                        <td>2 tsp.</td>
                        <td itemprop="ingredients">butter</td>
                    </tr>
                </tbody>
            </table>
                       
            <br/>
            <br/>
            <div>
                BEAT eggs, milk, salt and pepper in medium bowl until blended.
            </div>
            <br/>
            <div>
                HEAT butter in large nonstick skillet over medium heat until hot. POUR IN egg mixture. As eggs begin to set, GENTLY PULL the eggs across the pan with a spatula, forming large soft curds.
            </div>
            <br/>
            <div>
                CONTINUE cooking – pulling, lifting and folding eggs – until thickened and no visible liquid egg remains. Do not stir constantly. REMOVE from heat. SERVE immediately.
            </div>            
        </div>
    
</div>