body {
    padding-bottom: 20px;
}

header{
    padding-bottom: 10px;
    background-color:#5bc0de;
    margin-bottom: 15px;
}

#imgLogo {
    position: absolute;
    width: 100px;
}

.glyphicon-menu-hamburger{
    font-size:50px;
}

.round {
    border-radius: 50%;
    border: 3px solid black;
    height: 100px;
    width: 100px;
}

.roundViewRecipe, .roundIngInv, .roundDietRestriction {
    border-radius: 50%;
    border: 2px solid black;
    height: 70px;
    width: 70px;
    margin:5px;
}

.roundEditAcc {
    border-radius: 50%;
    border: 3px solid black;
    height: 50%;
    width: 50%;
}

table, tr, td{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    margin-right: 16px;
}


td:last-child{
    border-right:none;
}

hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    color: black;
} 

.jumbotron {
    background-image: url('https://c1.staticflickr.com/1/11/15693412_a34ea110d2_b.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.jumbotron > div{
    text-transform:uppercase;
	font-family: Techno_Hideo;
    width:100%;
	text-align:center;
	z-index:2;
	font-size:100px;
	color:#f3e9e9;
	white-space: nowrap;
	overflow: hidden;
	animation: type 2s steps(60, end);
}  

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/**inventory page**/

#ingLeft, #ingRight{
    margin-left:20px;
    width:47%;
    float:left;
}

/**shared page**/
.navbar-inverse{
    background-color:#3ec4af;
}
.navbar{
    margin-bottom:0;
    height:175px;
}

img#logo{
    width:70px;
}

a.logo
{
    background: url(../Images/ChefJeevesLogo.png) no-repeat top left;
    background-size:contain;
     display: block;
     width: 100px;
     height: 100px;
}

/**CHEF JEEVES TEXT*/

@font-face{
	font-family: Techno_Hideo;
	src: url(../fonts/techno_hideo_bold.ttf)
}

@keyframes type{ 
  from { width: 0; } 
}

.modal-backdrop {
    position: unset;
}
.modal-title {
    font-size:24px;
}
.modalCenter{  
	position:absolute;
	height:50%;
	width:50%;
	margin:auto;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);	
} 

#recipeTopLeft{
    width:60%;    
    max-width:800px;
    text-align:center;
    float:left;
}
#recipeLeft{
    width:60%;    
    max-width:800px;
    float:left;
    padding-top: 50px;
}
#recipeLeft img{
    width:98%;
    float:left;
}
#recipeTopRight {
    width: 40%;
    max-width: 580px;
    float: left;
    display: table;
    height: 66px;
}
#recipeTopRight span{
    text-transform: capitalize;
    font-size:20px;
}
#recipeTopRight div{
    display: table-cell;
    vertical-align: middle;
}
#recipeRight{
    width:40%;
    max-width:580px;
    float:left;
    margin-bottom: 100px;
}
#recipeTable tr td:first-child{
    font-weight:bold;
    padding-right:5px;
}

.navbar-nav li{
    /*-margin-top: 30px;*/
    font-size: 20px;
}
userIngList{
    list-style-type:none;
}

.dropdownNav{
    position: absolute;
    top: 28px;
    right: 20px;
}

table#editAccount tbody tr td:first-child, table#createAccount tbody tr td:first-child{
    min-width: 160px;
    width: 160px;
    min-height:25.6px;
    height:25.6px;
    padding:0;
    margin:0;

}


#navHeading {
    font-size: 40px;
    width: auto;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    line-height: 100px;
}


#footer {
    position: fixed;
    clear:both;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}


.viewRecipeTable div table tbody tr:first-child, .suggestedRecipeTable div table tbody tr:first-child, .dietTable div table tbody tr:first-child, .ingInvTable div table tbody tr:first-child{
    display:none;
}

.suggestedRecipeTable div table tbody tr td img, .dietTable div table tbody tr td img, .ingInvTable div table tbody tr td img{
    margin:5px;
}

.dietTable div table tbody tr, .ingInvTable div table tbody tr {
    float:left;
    width:250px;
}

.dietTable div table tbody tr td:nth-child(2), .ingInvTable div table tbody tr td:nth-child(2){
    width:100%;
}

.dietTable div table tbody tr td:last-child, .ingInvTable div table tbody tr td:last-child{
    width:100%;
    text-align:right;
}
.dietTable div table tbody tr td:last-child a, .ingInvTable div table tbody tr td:last-child a{
    margin-right: 20px;
}

.viewRecipeTable div table tbody tr td:nth-child(3){
    padding-left: 5px;
    padding-right: 3px;
}

.hex1 {
  transform: rotate(120deg);
}
.hex2 {
  transform: rotate(-60deg);
}
.hex3 {
  transform: rotate(-60deg);
}
.hex1, .hex1 div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
}
.hex1 {
    text-align: center;
    width:575px;
    max-width:100%;
    height: 100%;
}
.hex1 div {
  width: 100%;
  height: 100%;
}
.hex1 img{
    width:100%;
    margin-top: -5px;
}

form#loginCredForm{
    position:absolute;
    top:10px;
    right: 10px;
}

form#loginCredForm table tr td:nth-child(2) input {
    width:95%;
}

#editAccLeft{
    width:50%;
    text-align:center;
    float:left;
}

#editAccRight{
    width:50%;
    text-align:left;
    float: left;
}

#contactPage table{
    text-align:center;
    margin:0 auto;
}
#contactPage table tbody tr:first-child td:first-child, #contactPage table tbody tr:nth-child(2) td:first-child{
    width:20px;

   text-align:right;
}
#contactPage table tbody tr:first-child td:last-child , #contactPage table tbody tr:nth-child(2) td:last-child{
    text-align:left;
}

#contactPage table tbody tr:first-child td:last-child span:first-child{
    width:20px;
    float:left;
}

#contactPage table tbody tr:first-child td:last-child span:last-child{
    position:absolute;
    width:200px;
    float:left;
    margin-top:-10px;
}

#contactPage table tbody tr:first-child td:first-child, #contactPage table tbody tr:first-child td:last-child {
    width:100px;
}
#contactPage table tbody tr:first-child td:nth-child(2) {
    width:300px;
}

.dietTable table tbody tr:hover, .ingInvTable table tbody tr:hover, .suggestedRecipeTable table tbody tr:hover{
    background-color: #5bc0de;
}

#contactPage table tbody tr:first-child td:last-child span:first-child, #contactPage table tbody tr:nth-child(2) td:last-child span:first-child {
    position: absolute;
    width: 200px;
}
#contactPage table tbody tr:first-child td:last-child span:first-child {
    margin-top:-10px;
}
#healthText i {
position:absolute;
}
#healthText span, #healthText i{
    padding:10px;
    font-size:40px;
    z-index:99;
}

#healthText span:hover, #healthText i:hover{
    color: red;
}
.searchableOff {
    background-color:grey;
}

input[type="checkbox"]{
    display:none;
}

.ingInvTable div table{
    margin-bottom:150px;
}