body {
    padding-bottom: 20px;
}

header{
    padding-bottom: 25px;
}

#imgLogo {
    width: 100px;
}

.round {
    border-radius: 50%;
    border: 5px solid black;
    height: 100px;
    width: 100px;
}

table, tr, td{
    border:none;
}

th{
    display:none;
}

td:last-child{
    border-right:none;
}

hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    color: black;
} 

.jumbotron {
    /* Image from https://www.flickr.com/photos/roland/15693412/in/photolist-2or75-DwooAF-MxUwP-y9SE8E-pA5UFD-5g9b-cWfv-8gw2kF-MxUQ6-qqRb2F-bdcn-fE6E-2d3E-YMd-FWsab-Ds2vST-cV4L-bEXFAf-FgKc-8o8Q-fDQA-dxMB4j-fDR1-HmnjF-aqMDa3-dJB4FH-Hnm-FgLv-58L7EA-oRwcYa-2oqZj-DZzpto-76mE7c-6mY3m-o4pbj4-hQxRD6-ehWARV-oiQZxh-hQxDbw-ESSAxo-o4o53S-oC41q5-oPP2rW-RyA-okR1n7-2or1J-2or9s-qzesq5-5mG9-h1K */
    background-image: url('https://c1.staticflickr.com/1/11/15693412_a34ea110d2_b.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.jumbotron > div{
    text-transform:uppercase;
	font-family: Techno_Hideo;
    width:100%;
	text-align:center;
	z-index:2;
	font-size:100px;
	color:#f3e9e9;
	white-space: nowrap;
	overflow: hidden;
	animation: type 2s steps(60, end);
}  

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/**inventory page**/

#ingLeft, #ingRight{
    margin-left:20px;
    width:47%;
    float:left;
}

/**shared page**/
.navbar-inverse{
    background-color:#3ec4af;
}
.navbar{
    margin-bottom:0;
    height:120px;
}

img#logo{
    width:70px;
}

a.logo
{
    background: url(../Images/ChefJeevesLogo.png) no-repeat top left;
    background-size:contain;
     display: block;
     width: 100px;
     height: 100px;
}

/**CHEF JEEVES TEXT*/

@font-face{
	font-family: Techno_Hideo;
	src: url(../fonts/techno_hideo_bold.ttf)
}



@keyframes type{ 
  from { width: 0; } 
}


.modal-backdrop {
    position: unset;
}
.modal-title {
    font-size:24px;
}
.modalCenter{  
	position:absolute;
	height:50%;
	width:50%;
	margin:auto;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);	
} 

#recipeLeft{
    width:60%;
    float:left;
}
#recipeLeft img{
    width:98%;
    float:left;
}
#recipeRight{
    width:40%;
    float:left;
}
#recipeTable tr td:first-child{
    font-weight:bold;
    padding-right:5px;
}

.navbar-nav li{
    /*-margin-top: 30px;*/
    font-size: 20px;
}
userIngList{
    list-style-type:none;
}

.dropdownNav{
        position: absolute;
    top: 28px;
    right: 20px;
}

table#editAccount tbody tr td:first-child, table#createAccount tbody tr td:first-child{
    min-width: 160px;
    width: 160px;
    min-height:25.6px;
    height:25.6px;
    padding:0;
    margin:0;

}


h1{
    font-size: 40px;
    width: 400px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    line-height: 100px;
